.table-container{

  overflow-x:auto;

}

table{

  width:100%;

  border-collapse:collapse;

}

th{

  text-align:left;

  color:#9ca3af;

  padding:16px;

  border-bottom:
  1px solid rgba(255,255,255,0.1);

}

td{

  padding:16px;

  border-bottom:
  1px solid rgba(255,255,255,0.05);

}

tr:hover{

  background:
  rgba(255,255,255,0.03);

}